<header class="bg-espresso border border-coffee border-t-0 border-x-0 nav-header flex-none sticky top-0 z-50" data-controller="header"> <!-- navbar bg -->
  <div class="mx-auto max-w-full sm:px-4 md:px-6 lg:px-10 xl:px-20"> <!-- navbar first container -->
    <div class="relative flex h-20 justify-between"> <!-- navbar second container (item holder) -->
      <form action="/search" method="post">
        <button name="submit" onclick="load();" value="home" class="group z-10 h-20 relative flex px-0 items-center transition-all hover:scale-105 active:scale-90"> <!-- logo holder -->
          <svg class="hidden transition-all w-8 sm:block h-8 px-1 text-pistachio group-hover:text-latte" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="currentColor">
              <path d="M2350 5109 c-324 -40 -592 -137 -820 -297 -84 -59 -225 -201 -276 -277 l-39 -59 -107 -18 c-368 -60 -631 -188 -841 -408 -120 -125 -198 -261 -237 -415 -80 -310 19 -905 235 -1409 117 -274 315 -628 465 -832 l40 -53 0 -671 0 -670 1795 0 1795 0 0 670 0 669 84 123 c270 397 486 871 591 1295 57 231 92 535 82 703 -14 227 -100 419 -264 590 -210 220 -473 348 -841 408 l-107 18 -39 59 c-51 76 -192 218 -276 277 -200 141 -427 231 -700 279 -132 24 -420 33 -540 18z m387 -400 c296 -33 547 -141 714 -308 97 -97 142 -175 161 -279 22 -117 -11 -450 -77 -777 -19 -93 -31 -172 -27 -176 8 -8 342 -89 366 -89 9 0 16 2 16 5 0 3 11 57 25 120 54 249 86 484 101 733 4 61 8 112 11 112 24 0 157 -41 231 -71 275 -112 443 -308 459 -539 6 -84 -10 -280 -33 -410 -76 -421 -272 -886 -557 -1323 l-71 -107 -920 0 -921 0 -34 78 c-19 42 -67 149 -106 237 -40 88 -105 241 -145 340 -40 99 -73 181 -75 183 -2 2 -86 -29 -188 -69 l-186 -72 15 -36 c9 -20 42 -101 74 -181 32 -80 87 -211 123 -292 36 -80 68 -156 72 -167 6 -21 6 -21 -343 -21 l-350 0 -89 137 c-371 572 -574 1144 -577 1628 -1 122 2 149 22 207 59 171 217 319 434 407 74 30 207 71 231 71 3 0 8 -55 12 -122 13 -235 48 -490 100 -730 13 -60 26 -112 29 -116 5 -4 371 75 384 83 1 1 -11 65 -27 141 -65 308 -105 698 -83 816 19 104 65 182 161 279 132 132 286 214 509 270 185 47 369 59 559 38z m1223 -3909 l0 -400 -1395 0 -1395 0 0 400 0 400 1395 0 1395 0 0 -400z"/>
            </g>
          </svg>
          <svg class="hidden transition-all w-32 lg:block h-16 text-pistachio group-hover:text-latte" width="408.282" height="74.6" viewBox="0 0 408.282 74.6" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
            <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm" fill="currentColor" style="stroke:currentColor;stroke-width:0.25mm;fill:currentColor">
              <path d="M 151.5 62.6 L 151.5 13.8 Q 151.5 12 151.35 10.45 A 4.423 4.423 0 0 0 151.056 9.209 A 3.561 3.561 0 0 0 150.2 7.95 A 2.631 2.631 0 0 0 149.375 7.439 Q 148.558 7.105 147.259 7.025 A 14.072 14.072 0 0 0 146.4 7 A 5.641 5.641 0 0 1 145.39 6.913 A 4.654 4.654 0 0 1 144.75 6.75 A 0.895 0.895 0 0 1 144.237 6.292 Q 144 5.844 144 5 A 2.072 2.072 0 0 1 144.123 4.26 Q 144.349 3.667 144.987 3.384 A 2.768 2.768 0 0 1 145.6 3.2 Q 149.391 2.623 151.722 2.046 A 27.017 27.017 0 0 0 152.65 1.8 Q 155.1 1.1 156.4 0.55 Q 157.39 0.131 158.206 0.031 A 4.067 4.067 0 0 1 158.7 0 A 3.05 3.05 0 0 1 159.309 0.058 A 2.175 2.175 0 0 1 160.05 0.35 Q 160.541 0.663 160.594 1.654 A 4.67 4.67 0 0 1 160.6 1.9 L 160.6 34.1 L 160.8 34.1 Q 162.8 32.2 164.9 30.45 A 17.519 17.519 0 0 1 168.265 28.265 A 21.158 21.158 0 0 1 169.85 27.55 A 14.513 14.513 0 0 1 172.602 26.764 Q 173.933 26.514 175.465 26.436 A 28.176 28.176 0 0 1 176.9 26.4 A 18.219 18.219 0 0 1 181.561 26.965 A 13.058 13.058 0 0 1 187.7 30.5 A 13.835 13.835 0 0 1 191.446 38.089 A 19.516 19.516 0 0 1 191.7 41.3 L 191.7 62.6 A 35.447 35.447 0 0 0 191.841 65.8 A 32.65 32.65 0 0 0 191.85 65.9 A 4.425 4.425 0 0 0 192.137 67.134 A 3.503 3.503 0 0 0 193.05 68.45 A 2.89 2.89 0 0 0 193.942 68.981 Q 194.79 69.315 196.098 69.383 A 13.527 13.527 0 0 0 196.8 69.4 A 10.987 10.987 0 0 1 197.386 69.415 Q 197.988 69.447 198.4 69.55 A 0.616 0.616 0 0 1 198.758 69.82 Q 199.035 70.224 199.1 71.2 A 2.806 2.806 0 0 1 198.761 72.53 A 3.27 3.27 0 0 1 198.75 72.55 Q 198.4 73.2 197.6 73.2 Q 194.7 73 192.2 72.95 Q 189.7 72.9 187.1 72.9 Q 184.4 72.9 182 72.95 Q 179.6 73 176.7 73.2 A 1.552 1.552 0 0 1 176.177 73.116 Q 175.773 72.972 175.52 72.582 A 1.681 1.681 0 0 1 175.5 72.55 A 2.707 2.707 0 0 1 175.169 71.771 A 2.402 2.402 0 0 1 175.1 71.2 A 5.947 5.947 0 0 1 175.155 70.685 Q 175.292 69.801 175.681 69.596 A 0.527 0.527 0 0 1 175.8 69.55 A 4.087 4.087 0 0 1 176.214 69.471 Q 176.68 69.405 177.312 69.4 A 12.988 12.988 0 0 1 177.4 69.4 Q 179.619 69.4 180.739 68.804 A 2.531 2.531 0 0 0 181.25 68.45 A 3.437 3.437 0 0 0 182.329 66.477 A 4.708 4.708 0 0 0 182.4 65.9 A 52.632 52.632 0 0 0 182.5 62.812 A 57.456 57.456 0 0 0 182.5 62.6 L 182.5 41.4 A 13.107 13.107 0 0 0 182.236 38.674 Q 181.888 37.042 181.085 35.829 A 6.728 6.728 0 0 0 179.5 34.15 A 11.278 11.278 0 0 0 175.967 32.331 A 10.269 10.269 0 0 0 173 31.9 A 15.709 15.709 0 0 0 169.847 32.203 A 12.176 12.176 0 0 0 167 33.15 A 18.757 18.757 0 0 0 164.916 34.311 Q 163.871 34.989 163.059 35.749 A 10.993 10.993 0 0 0 162.8 36 Q 161.297 37.503 160.676 38.654 A 5.312 5.312 0 0 0 160.6 38.8 L 160.6 62.6 A 35.447 35.447 0 0 0 160.741 65.8 A 32.65 32.65 0 0 0 160.75 65.9 A 4.425 4.425 0 0 0 161.037 67.134 A 3.503 3.503 0 0 0 161.95 68.45 A 2.89 2.89 0 0 0 162.842 68.981 Q 163.69 69.315 164.998 69.383 A 13.527 13.527 0 0 0 165.7 69.4 A 10.987 10.987 0 0 1 166.286 69.415 Q 166.888 69.447 167.3 69.55 A 0.616 0.616 0 0 1 167.658 69.82 Q 167.935 70.224 168 71.2 A 2.806 2.806 0 0 1 167.661 72.53 A 3.27 3.27 0 0 1 167.65 72.55 Q 167.3 73.2 166.5 73.2 Q 163.6 73 161.1 72.95 Q 158.6 72.9 156 72.9 Q 153.3 72.9 150.9 72.95 Q 148.5 73 145.6 73.2 A 1.552 1.552 0 0 1 145.077 73.116 Q 144.673 72.972 144.42 72.582 A 1.681 1.681 0 0 1 144.4 72.55 A 2.707 2.707 0 0 1 144.069 71.771 A 2.402 2.402 0 0 1 144 71.2 A 5.399 5.399 0 0 1 144.062 70.656 Q 144.23 69.67 144.75 69.55 A 5.38 5.38 0 0 1 145.355 69.449 Q 145.665 69.414 146.018 69.404 A 10.096 10.096 0 0 1 146.3 69.4 Q 148.519 69.4 149.639 68.804 A 2.531 2.531 0 0 0 150.15 68.45 Q 151.2 67.5 151.35 65.9 A 35.26 35.26 0 0 0 151.5 62.706 A 38.449 38.449 0 0 0 151.5 62.6 Z M 351.9 62.6 L 351.9 31.5 L 345.2 31.5 Q 344.4 31.5 343.95 30.85 A 2.634 2.634 0 0 1 343.62 30.209 A 2.163 2.163 0 0 1 343.5 29.5 A 6.144 6.144 0 0 1 343.56 28.93 Q 343.709 27.986 344.14 27.787 A 0.566 0.566 0 0 1 344.25 27.75 A 5.082 5.082 0 0 1 344.781 27.659 Q 345.057 27.626 345.376 27.611 A 11.501 11.501 0 0 1 345.9 27.6 L 351.9 27.6 L 351.9 23.4 A 36.472 36.472 0 0 1 352.409 17.168 A 27.754 27.754 0 0 1 354 11.5 A 20.016 20.016 0 0 1 357.321 5.942 A 18.038 18.038 0 0 1 360.25 3.2 A 15.882 15.882 0 0 1 367.171 0.294 A 21.08 21.08 0 0 1 370.4 0 Q 373.5 0 376.4 1.2 A 13.567 13.567 0 0 1 379.634 3.071 A 11.998 11.998 0 0 1 381.2 4.55 A 7.535 7.535 0 0 1 383.086 9.274 A 9.733 9.733 0 0 1 383.1 9.8 Q 383.1 12.6 381.4 14.95 A 5.495 5.495 0 0 1 377.37 17.254 A 7.919 7.919 0 0 1 376.5 17.3 Q 374.907 17.3 373.861 16.667 A 3.505 3.505 0 0 1 373.25 16.2 A 13.742 13.742 0 0 1 372.859 15.812 Q 372.304 15.236 372.155 14.908 A 0.52 0.52 0 0 1 372.1 14.7 Q 372.1 14.445 372.714 13.938 A 7.918 7.918 0 0 1 372.95 13.75 A 5.53 5.53 0 0 0 373.614 13.143 Q 373.93 12.807 374.245 12.382 A 11.949 11.949 0 0 0 374.65 11.8 A 5.079 5.079 0 0 0 375.369 9.999 A 7.114 7.114 0 0 0 375.5 8.6 A 4.933 4.933 0 0 0 373.976 4.972 A 6.27 6.27 0 0 0 373.85 4.85 A 5.662 5.662 0 0 0 370.386 3.331 A 7.525 7.525 0 0 0 369.7 3.3 A 8.717 8.717 0 0 0 367.609 3.536 A 5.816 5.816 0 0 0 364.6 5.3 Q 362.8 7.3 362.1 10.3 Q 361.4 13.3 361.25 16.4 Q 361.102 19.463 361.1 21.55 A 59.438 59.438 0 0 0 361.1 21.6 L 361.1 27.6 L 370.9 27.6 Q 371.9 27.6 372.6 27.75 A 0.715 0.715 0 0 1 373.048 28.077 Q 373.246 28.375 373.338 28.93 A 5.706 5.706 0 0 1 373.4 29.5 A 2.236 2.236 0 0 1 373.128 30.558 A 2.877 2.877 0 0 1 372.95 30.85 Q 372.525 31.463 371.789 31.498 A 1.899 1.899 0 0 1 371.7 31.5 L 361.1 31.5 L 361.1 62.6 A 30.261 30.261 0 0 0 361.136 64.121 Q 361.227 65.922 361.55 67 A 2.873 2.873 0 0 0 362.169 68.128 Q 362.609 68.611 363.29 68.864 A 3.731 3.731 0 0 0 363.55 68.95 A 8.48 8.48 0 0 0 364.545 69.168 Q 365.637 69.346 367.2 69.387 A 37.532 37.532 0 0 0 368.2 69.4 A 10.987 10.987 0 0 1 368.786 69.415 Q 369.388 69.447 369.8 69.55 A 0.616 0.616 0 0 1 370.158 69.82 Q 370.435 70.224 370.5 71.2 A 2.806 2.806 0 0 1 370.161 72.53 A 3.27 3.27 0 0 1 370.15 72.55 Q 369.8 73.2 369 73.2 Q 366.1 73 362.6 72.95 Q 360.194 72.916 358.213 72.905 A 316.488 316.488 0 0 0 356.5 72.9 Q 353.8 72.9 351.4 72.95 Q 349 73 346.1 73.2 A 1.552 1.552 0 0 1 345.577 73.116 Q 345.173 72.972 344.92 72.582 A 1.681 1.681 0 0 1 344.9 72.55 A 2.707 2.707 0 0 1 344.569 71.771 A 2.402 2.402 0 0 1 344.5 71.2 A 5.947 5.947 0 0 1 344.555 70.685 Q 344.692 69.801 345.081 69.596 A 0.527 0.527 0 0 1 345.2 69.55 A 4.087 4.087 0 0 1 345.614 69.471 Q 346.08 69.405 346.712 69.4 A 12.988 12.988 0 0 1 346.8 69.4 Q 349.019 69.4 350.139 68.804 A 2.531 2.531 0 0 0 350.65 68.45 A 3.437 3.437 0 0 0 351.729 66.477 A 4.708 4.708 0 0 0 351.8 65.9 A 52.632 52.632 0 0 0 351.9 62.812 A 57.456 57.456 0 0 0 351.9 62.6 Z M 113.784 73.713 A 35.867 35.867 0 0 0 119.2 74.1 A 27.147 27.147 0 0 0 122.861 73.861 A 21.142 21.142 0 0 0 128.65 72.25 A 18.912 18.912 0 0 0 130.382 71.371 A 15.289 15.289 0 0 0 135.2 67.1 Q 137.6 63.8 137.6 59.6 A 17.276 17.276 0 0 0 137.553 58.311 Q 137.306 55.011 135.75 52.95 A 11.538 11.538 0 0 0 133.278 50.554 A 15.339 15.339 0 0 0 130.55 49 Q 128.77 48.203 126.694 47.435 A 88.607 88.607 0 0 0 122.8 46.1 A 135.662 135.662 0 0 1 120.09 45.208 Q 117.498 44.323 115.65 43.55 A 15.419 15.419 0 0 1 114.411 42.969 Q 113.569 42.525 112.913 42.026 A 6.883 6.883 0 0 1 111.65 40.8 Q 110.805 39.719 110.531 38.044 A 10.826 10.826 0 0 1 110.4 36.3 A 5.154 5.154 0 0 1 111.754 32.677 A 6.695 6.695 0 0 1 113.4 31.4 Q 116.4 29.7 119.9 29.7 Q 123.1 29.7 125.7 31.1 Q 128.3 32.5 128.5 35.4 A 6.239 6.239 0 0 1 128.498 35.562 Q 128.483 36.125 128.366 36.607 A 3.439 3.439 0 0 1 127.8 37.85 Q 127.447 38.329 127.082 38.706 A 5.799 5.799 0 0 1 126.35 39.35 A 10.368 10.368 0 0 0 126.311 39.379 Q 125.6 39.905 125.6 40.1 Q 125.6 40.425 126.359 41.113 A 11.309 11.309 0 0 0 126.75 41.45 A 4.009 4.009 0 0 0 128.393 42.255 A 5.592 5.592 0 0 0 129.7 42.4 Q 132.5 42.4 134.1 40.4 Q 135.7 38.4 135.7 35.9 A 9.301 9.301 0 0 0 135.695 35.602 A 7.04 7.04 0 0 0 133.55 30.6 A 12.191 12.191 0 0 0 131.197 28.812 A 15.157 15.157 0 0 0 128.1 27.45 A 21.495 21.495 0 0 0 127.059 27.148 A 23.297 23.297 0 0 0 121.1 26.4 Q 116.8 26.4 112.6 27.85 A 19.676 19.676 0 0 0 110.594 28.666 A 15.912 15.912 0 0 0 105.7 32.2 A 9.688 9.688 0 0 0 103.472 36.118 A 12.279 12.279 0 0 0 103 39.6 A 18.468 18.468 0 0 0 103.029 40.648 Q 103.238 44.324 104.95 46.65 Q 106.9 49.3 110 50.8 Q 113.1 52.3 116.55 53.3 Q 120 54.3 123.05 55.3 A 21.139 21.139 0 0 1 123.279 55.377 Q 126.174 56.362 128.05 57.95 Q 130 59.6 130 62.6 A 9.526 9.526 0 0 1 129.959 63.499 A 6.656 6.656 0 0 1 127.35 68.35 A 8.408 8.408 0 0 1 125.615 69.378 Q 124.386 69.925 122.864 70.179 A 17.41 17.41 0 0 1 120 70.4 A 30.543 30.543 0 0 1 119.559 70.397 Q 114.491 70.324 111.95 68.55 A 7.933 7.933 0 0 1 111.049 67.823 A 5.208 5.208 0 0 1 109.3 63.9 Q 109.3 62.696 109.615 61.835 A 3.185 3.185 0 0 1 110.45 60.55 Q 111.6 59.5 111.6 59.2 Q 111.6 58.875 110.841 58.187 A 11.309 11.309 0 0 0 110.45 57.85 A 4.009 4.009 0 0 0 108.807 57.045 A 5.592 5.592 0 0 0 107.5 56.9 A 8.037 8.037 0 0 0 106.692 56.94 A 5.867 5.867 0 0 0 102.95 58.7 A 5.945 5.945 0 0 0 101.467 61.302 A 7.844 7.844 0 0 0 101.2 63.4 A 8.107 8.107 0 0 0 103.641 69.399 A 11.532 11.532 0 0 0 106.35 71.35 A 19.715 19.715 0 0 0 108.239 72.232 Q 110.754 73.25 113.784 73.713 Z M 322.8 47.2 L 322.8 39.3 A 15.165 15.165 0 0 0 322.535 36.374 Q 322.195 34.646 321.419 33.299 A 8.174 8.174 0 0 0 320.45 31.95 Q 318.1 29.3 312.5 29.3 A 8.549 8.549 0 0 0 307.79 30.728 A 10.702 10.702 0 0 0 307.25 31.1 A 5.844 5.844 0 0 0 304.848 35.375 A 8.57 8.57 0 0 0 304.8 36.3 A 5.306 5.306 0 0 0 304.95 37.594 A 4.034 4.034 0 0 0 305.6 39 Q 306.228 39.864 306.856 40.419 A 5.514 5.514 0 0 0 307.2 40.7 Q 308 41.3 308 41.5 Q 308 41.9 306.85 42.95 A 3.838 3.838 0 0 1 305.211 43.82 Q 304.528 44 303.7 44 A 6.668 6.668 0 0 1 301.572 43.677 A 5.402 5.402 0 0 1 298.9 41.7 Q 297.2 39.4 297.2 36.6 A 9.905 9.905 0 0 1 297.517 34.025 A 7.123 7.123 0 0 1 299.55 30.6 A 12.705 12.705 0 0 1 303.015 28.319 A 16.928 16.928 0 0 1 305.6 27.4 Q 309.3 26.4 313.1 26.4 Q 317.6 26.4 321.85 27.5 A 14.189 14.189 0 0 1 326.782 29.805 A 13.416 13.416 0 0 1 328.85 31.7 Q 330.947 34.064 331.445 38.232 A 23.379 23.379 0 0 1 331.6 41 L 331.6 64.3 A 9.851 9.851 0 0 0 331.717 65.106 Q 331.796 65.533 331.916 66.015 A 20.961 20.961 0 0 0 332.1 66.7 A 5.174 5.174 0 0 0 333.501 69.009 A 6.221 6.221 0 0 0 333.65 69.15 A 3.838 3.838 0 0 0 335.289 70.02 Q 335.972 70.2 336.8 70.2 A 3.201 3.201 0 0 1 337.208 70.224 Q 337.423 70.252 337.6 70.311 A 1.397 1.397 0 0 1 337.9 70.45 A 0.618 0.618 0 0 1 338.115 70.697 Q 338.3 71.052 338.3 71.8 A 1.382 1.382 0 0 1 337.749 72.916 A 2.439 2.439 0 0 1 337.3 73.2 A 7.023 7.023 0 0 1 336.007 73.688 A 9.028 9.028 0 0 1 335 73.9 Q 333.7 74.1 332.8 74.1 Q 329.1 74.1 326.2 71.95 A 8.394 8.394 0 0 1 322.843 66.294 A 11.099 11.099 0 0 1 322.8 66 Q 320.6 70 316.25 72.05 Q 311.9 74.1 307 74.1 A 17.219 17.219 0 0 1 302.79 73.613 A 12.122 12.122 0 0 1 297.25 70.6 Q 293.6 67.1 293.6 62.2 A 15.82 15.82 0 0 1 293.913 58.954 Q 294.511 56.103 296.25 54.2 A 14.674 14.674 0 0 1 300.638 50.951 A 19.089 19.089 0 0 1 303.25 49.9 A 42.543 42.543 0 0 1 309.456 48.425 A 51.48 51.48 0 0 1 312.75 48 Q 317.9 47.5 322.8 47.2 Z M 9 61.2 L 9 21.5 A 18.789 18.789 0 0 0 8.732 18.29 A 17.241 17.241 0 0 0 8.65 17.85 Q 8.3 16.1 7 14.95 Q 5.835 13.92 3.146 13.813 A 16.213 16.213 0 0 0 2.5 13.8 Q 1.715 13.8 1.115 13.677 A 4.281 4.281 0 0 1 0.8 13.6 Q 0.109 13.403 0.003 11.744 A 8.296 8.296 0 0 1 0 11.7 Q 0 10.9 0.4 10.2 A 1.314 1.314 0 0 1 1.343 9.531 A 1.956 1.956 0 0 1 1.7 9.5 Q 5 9.6 7.8 9.7 A 160.565 160.565 0 0 0 12.853 9.798 A 177.771 177.771 0 0 0 13.6 9.8 L 29.2 9.8 A 41.957 41.957 0 0 1 39.965 11.14 A 36.3 36.3 0 0 1 46.6 13.6 Q 54.4 17.4 59 24.5 Q 63.6 31.6 63.6 41.7 A 34.767 34.767 0 0 1 62.941 48.629 A 26.055 26.055 0 0 1 60.5 55.6 Q 57.4 61.5 52.2 65.35 Q 47 69.2 40.55 71.05 Q 34.1 72.9 27.4 72.9 L 13.6 72.9 A 329.369 329.369 0 0 0 8.503 72.938 A 296.77 296.77 0 0 0 7.8 72.95 Q 5 73 1.7 73.2 A 1.806 1.806 0 0 1 1.175 73.128 A 1.303 1.303 0 0 1 0.4 72.5 A 3.252 3.252 0 0 1 0.394 72.489 A 2.973 2.973 0 0 1 0 71 A 6.447 6.447 0 0 1 0.065 70.377 Q 0.235 69.3 0.761 69.113 A 0.654 0.654 0 0 1 0.8 69.1 Q 1.374 68.936 2.148 68.907 A 9.213 9.213 0 0 1 2.5 68.9 Q 5.7 68.9 7 67.75 Q 8.3 66.6 8.65 64.85 Q 9 63.1 9 61.2 Z M 226.1 74.1 Q 215.8 74.1 210.05 67.55 A 22.433 22.433 0 0 1 205.075 57.558 A 33.006 33.006 0 0 1 204.3 50.2 Q 204.6 43.3 207.75 38 Q 210.9 32.7 216.15 29.65 Q 221.4 26.6 227.8 26.4 A 31.047 31.047 0 0 1 234.04 27.051 A 34.8 34.8 0 0 1 234.95 27.25 A 14.628 14.628 0 0 1 238.489 28.548 A 12.203 12.203 0 0 1 241.05 30.35 A 7.282 7.282 0 0 1 243.184 34.033 Q 243.5 35.291 243.5 36.8 Q 243.5 39.7 241.7 42.15 A 5.737 5.737 0 0 1 237.525 44.557 A 7.687 7.687 0 0 1 236.7 44.6 Q 235.077 44.6 233.999 44.002 A 3.649 3.649 0 0 1 233.3 43.5 A 11.171 11.171 0 0 1 232.862 43.078 Q 232.261 42.463 232.134 42.086 A 0.586 0.586 0 0 1 232.1 41.9 A 0.214 0.214 0 0 1 232.138 41.796 Q 232.269 41.58 232.855 41.124 A 13.333 13.333 0 0 1 232.95 41.05 Q 233.686 40.487 234.385 39.549 A 11.378 11.378 0 0 0 234.6 39.25 Q 235.4 38.1 235.4 36.4 A 7.004 7.004 0 0 0 235.164 34.524 A 4.796 4.796 0 0 0 233.1 31.7 Q 230.8 30.2 227.9 30.1 A 17.552 17.552 0 0 0 225.082 30.313 Q 222.589 30.719 220.85 31.9 Q 218.2 33.7 216.8 36.65 A 20.899 20.899 0 0 0 215.095 42.127 A 23.999 23.999 0 0 0 214.95 43.1 A 53.993 53.993 0 0 0 214.507 49.072 A 48.958 48.958 0 0 0 214.5 49.9 A 30.5 30.5 0 0 0 214.952 55.266 A 23.773 23.773 0 0 0 216.2 59.75 A 18.624 18.624 0 0 0 218.101 63.422 A 14.449 14.449 0 0 0 221 66.6 A 11.261 11.261 0 0 0 227.67 69.082 A 14.282 14.282 0 0 0 228.4 69.1 Q 232.716 69.1 235.685 67.272 A 10.729 10.729 0 0 0 235.8 67.2 Q 238.688 65.371 241.113 61.873 A 27.621 27.621 0 0 0 241.3 61.6 A 1.453 1.453 0 0 1 241.615 61.267 Q 242.182 60.841 243.066 61.23 A 3.596 3.596 0 0 1 243.4 61.4 A 2.39 2.39 0 0 1 244.09 61.981 A 2.238 2.238 0 0 1 244.4 62.5 A 1.379 1.379 0 0 1 244.502 62.861 Q 244.548 63.21 244.396 63.558 A 1.883 1.883 0 0 1 244.2 63.9 Q 240.9 68.6 236 71.35 A 22.034 22.034 0 0 1 230.766 73.496 A 18.455 18.455 0 0 1 226.1 74.1 Z M 258.5 62.6 L 258.5 39.7 Q 258.5 37.9 258.35 36.35 A 4.423 4.423 0 0 0 258.056 35.109 A 3.561 3.561 0 0 0 257.2 33.85 A 2.631 2.631 0 0 0 256.375 33.339 Q 255.558 33.005 254.259 32.925 A 14.072 14.072 0 0 0 253.4 32.9 A 5.641 5.641 0 0 1 252.39 32.813 A 4.654 4.654 0 0 1 251.75 32.65 A 0.895 0.895 0 0 1 251.237 32.192 Q 251 31.744 251 30.9 A 2.072 2.072 0 0 1 251.123 30.16 Q 251.349 29.567 251.987 29.284 A 2.768 2.768 0 0 1 252.6 29.1 Q 256.391 28.523 258.722 27.946 A 27.017 27.017 0 0 0 259.65 27.7 Q 261.669 27.123 262.873 26.682 A 17.432 17.432 0 0 0 263.35 26.5 A 10.927 10.927 0 0 1 264.324 26.16 Q 265.006 25.959 265.6 25.9 Q 266.09 25.839 266.486 25.965 A 1.621 1.621 0 0 1 266.95 26.2 Q 267.455 26.568 267.496 27.611 A 4.825 4.825 0 0 1 267.5 27.8 L 267.5 34 L 267.8 34 A 41.058 41.058 0 0 1 272.128 30.324 A 34.241 34.241 0 0 1 274.8 28.55 A 18.74 18.74 0 0 1 277.204 27.326 Q 279.431 26.4 281.4 26.4 Q 284.9 26.4 286.75 29 A 10.187 10.187 0 0 1 288.18 31.804 A 8.798 8.798 0 0 1 288.6 34.5 A 8.087 8.087 0 0 1 287.681 38.203 A 10.455 10.455 0 0 1 287 39.35 A 5.196 5.196 0 0 1 283.184 41.64 A 7.758 7.758 0 0 1 282.2 41.7 Q 281.027 41.7 280.203 41.35 A 3.165 3.165 0 0 1 279.65 41.05 Q 278.878 40.522 278.667 40.225 A 0.491 0.491 0 0 1 278.6 40.1 A 0.26 0.26 0 0 1 278.636 39.991 Q 278.759 39.755 279.301 39.167 A 22.689 22.689 0 0 1 279.55 38.9 A 3.425 3.425 0 0 0 280.491 36.683 A 4.521 4.521 0 0 0 280.5 36.4 A 5.546 5.546 0 0 0 280.368 35.154 A 3.784 3.784 0 0 0 279.55 33.5 A 3.121 3.121 0 0 0 277.348 32.414 A 4.357 4.357 0 0 0 277 32.4 A 4.566 4.566 0 0 0 275.798 32.579 Q 274.441 32.951 272.65 34.1 A 29.714 29.714 0 0 0 268.356 37.467 A 33.564 33.564 0 0 0 267.6 38.2 L 267.6 62.6 A 35.447 35.447 0 0 0 267.741 65.8 A 32.65 32.65 0 0 0 267.75 65.9 A 4.425 4.425 0 0 0 268.037 67.134 A 3.503 3.503 0 0 0 268.95 68.45 Q 269.842 69.257 271.996 69.379 A 14.293 14.293 0 0 0 272.8 69.4 A 9.086 9.086 0 0 1 273.49 69.425 Q 273.816 69.45 274.1 69.5 A 4.8 4.8 0 0 1 274.35 69.55 A 0.677 0.677 0 0 1 274.76 69.852 Q 275.038 70.263 275.1 71.2 A 2.486 2.486 0 0 1 274.805 72.366 A 3.037 3.037 0 0 1 274.7 72.55 A 1.351 1.351 0 0 1 274.255 73.006 Q 273.997 73.164 273.66 73.193 A 1.827 1.827 0 0 1 273.5 73.2 Q 270.6 73 268.15 72.95 Q 265.7 72.9 263 72.9 Q 260.3 72.9 257.9 72.95 Q 255.5 73 252.6 73.2 A 1.295 1.295 0 0 1 251.597 72.737 A 1.94 1.94 0 0 1 251.45 72.55 A 2.634 2.634 0 0 1 251.12 71.909 A 2.163 2.163 0 0 1 251 71.2 A 6.216 6.216 0 0 1 251.089 70.685 Q 251.282 69.811 251.671 69.6 A 0.55 0.55 0 0 1 251.8 69.55 A 4.087 4.087 0 0 1 252.214 69.471 Q 252.68 69.405 253.312 69.4 A 12.988 12.988 0 0 1 253.4 69.4 A 12.915 12.915 0 0 0 254.669 69.343 Q 256.446 69.166 257.2 68.45 A 3.625 3.625 0 0 0 258.21 66.704 A 4.982 4.982 0 0 0 258.35 65.9 A 35.26 35.26 0 0 0 258.5 62.706 A 38.449 38.449 0 0 0 258.5 62.6 Z M 384.3 60.7 L 384.3 31.3 L 378.5 31.5 A 1.406 1.406 0 0 1 378.051 31.432 A 1.123 1.123 0 0 1 377.45 30.95 A 2.249 2.249 0 0 1 377.103 29.83 A 2.719 2.719 0 0 1 377.1 29.7 Q 377.1 27.7 378.5 27.4 A 18.118 18.118 0 0 0 380.734 26.838 Q 381.843 26.478 382.723 25.996 A 7.806 7.806 0 0 0 384.1 25.05 Q 386 23.4 387.05 21.1 Q 388.1 18.8 389 16.1 A 2.461 2.461 0 0 1 389.223 15.644 Q 389.492 15.22 389.9 15.05 A 3.294 3.294 0 0 1 391.027 14.804 A 3.82 3.82 0 0 1 391.2 14.8 A 2.865 2.865 0 0 1 391.754 14.857 Q 392.128 14.931 392.55 15.1 A 1.343 1.343 0 0 1 392.946 15.336 Q 393.243 15.6 393.291 16.03 A 1.544 1.544 0 0 1 393.3 16.2 L 392.6 27.6 L 404.3 26.9 A 2.358 2.358 0 0 1 404.456 26.888 Q 405.227 26.854 405.5 27.4 A 2.794 2.794 0 0 1 405.756 28.217 A 3.718 3.718 0 0 1 405.8 28.8 Q 405.8 29.8 405.45 30.8 Q 405.1 31.8 404.6 31.8 L 393.4 31.5 L 393.4 61.9 A 11.67 11.67 0 0 0 394.018 65.731 A 10.796 10.796 0 0 0 394.65 67.2 Q 395.9 69.6 399.2 69.6 A 14.42 14.42 0 0 0 400.22 69.562 Q 400.739 69.525 401.312 69.452 A 24.485 24.485 0 0 0 401.7 69.4 Q 403.1 69.2 404.7 68.5 Q 405.1 68.3 405.5 68.15 A 2.305 2.305 0 0 1 406.15 68.005 A 2.138 2.138 0 0 1 406.3 68 A 1.552 1.552 0 0 1 406.823 68.084 Q 407.227 68.228 407.48 68.618 A 1.681 1.681 0 0 1 407.5 68.65 Q 407.9 69.3 408.2 70 A 1.692 1.692 0 0 1 408.26 70.231 Q 408.37 70.831 407.927 71.23 A 1.617 1.617 0 0 1 407.7 71.4 A 25.061 25.061 0 0 1 405.445 72.703 Q 404.308 73.279 403.246 73.642 A 12.679 12.679 0 0 1 402 74 A 22.883 22.883 0 0 1 398.931 74.481 A 30.122 30.122 0 0 1 396.2 74.6 Q 393.2 74.6 390.5 73.1 Q 387.8 71.6 386.05 68.5 A 12.721 12.721 0 0 1 384.751 65.061 Q 384.3 63.087 384.3 60.7 Z M 18.9 13.5 L 18.9 62.4 Q 18.9 66.4 21.35 67.8 Q 23.568 69.068 27.959 69.188 A 34.489 34.489 0 0 0 28.9 69.2 A 31.052 31.052 0 0 0 34.322 68.754 Q 38.797 67.96 42 65.75 A 19.052 19.052 0 0 0 48.725 57.423 A 23.733 23.733 0 0 0 49.25 56.1 Q 51.467 49.992 51.5 41.942 A 59.456 59.456 0 0 0 51.5 41.7 Q 51.5 33.5 48.6 27.1 Q 45.7 20.7 40.15 17.05 A 21.838 21.838 0 0 0 31.854 13.831 A 29.564 29.564 0 0 0 26.7 13.4 Q 25.269 13.4 23.037 13.44 A 413.59 413.59 0 0 0 22.5 13.45 Q 20.362 13.491 19.306 13.498 A 59.364 59.364 0 0 1 18.9 13.5 Z M 78.6 62.6 L 78.6 39.7 Q 78.6 37.9 78.45 36.35 A 4.423 4.423 0 0 0 78.156 35.109 A 3.561 3.561 0 0 0 77.3 33.85 A 2.631 2.631 0 0 0 76.475 33.339 Q 75.658 33.005 74.359 32.925 A 14.072 14.072 0 0 0 73.5 32.9 A 5.641 5.641 0 0 1 72.49 32.813 A 4.654 4.654 0 0 1 71.85 32.65 A 0.895 0.895 0 0 1 71.337 32.192 Q 71.1 31.744 71.1 30.9 A 2.072 2.072 0 0 1 71.223 30.16 Q 71.449 29.567 72.087 29.284 A 2.768 2.768 0 0 1 72.7 29.1 Q 76.491 28.523 78.822 27.946 A 27.017 27.017 0 0 0 79.75 27.7 Q 82.2 27 83.5 26.5 A 12.268 12.268 0 0 1 84.433 26.181 Q 84.897 26.045 85.315 25.969 A 6.178 6.178 0 0 1 85.8 25.9 Q 86.29 25.839 86.686 25.965 A 1.621 1.621 0 0 1 87.15 26.2 Q 87.655 26.568 87.696 27.611 A 4.825 4.825 0 0 1 87.7 27.8 L 87.7 62.6 A 35.447 35.447 0 0 0 87.841 65.8 A 32.65 32.65 0 0 0 87.85 65.9 A 4.425 4.425 0 0 0 88.137 67.134 A 3.503 3.503 0 0 0 89.05 68.45 Q 89.942 69.257 92.096 69.379 A 14.293 14.293 0 0 0 92.9 69.4 A 9.086 9.086 0 0 1 93.59 69.425 Q 93.916 69.45 94.2 69.5 A 4.8 4.8 0 0 1 94.45 69.55 A 0.677 0.677 0 0 1 94.86 69.852 Q 95.138 70.263 95.2 71.2 A 2.486 2.486 0 0 1 94.905 72.366 A 3.037 3.037 0 0 1 94.8 72.55 A 1.351 1.351 0 0 1 94.355 73.006 Q 94.097 73.164 93.76 73.193 A 1.827 1.827 0 0 1 93.6 73.2 Q 90.7 73 88.25 72.95 Q 85.8 72.9 83.1 72.9 Q 80.4 72.9 78 72.95 Q 75.6 73 72.7 73.2 A 1.295 1.295 0 0 1 71.697 72.737 A 1.94 1.94 0 0 1 71.55 72.55 A 2.634 2.634 0 0 1 71.22 71.909 A 2.163 2.163 0 0 1 71.1 71.2 A 6.216 6.216 0 0 1 71.189 70.685 Q 71.382 69.811 71.771 69.6 A 0.55 0.55 0 0 1 71.9 69.55 A 4.087 4.087 0 0 1 72.314 69.471 Q 72.78 69.405 73.412 69.4 A 12.988 12.988 0 0 1 73.5 69.4 A 12.915 12.915 0 0 0 74.769 69.343 Q 76.546 69.166 77.3 68.45 A 3.625 3.625 0 0 0 78.31 66.704 A 4.982 4.982 0 0 0 78.45 65.9 A 35.26 35.26 0 0 0 78.6 62.706 A 38.449 38.449 0 0 0 78.6 62.6 Z M 322.8 55.8 L 322.8 50.1 A 73.73 73.73 0 0 0 317.744 50.606 Q 312.98 51.263 309.972 52.486 A 14.165 14.165 0 0 0 308.1 53.4 A 8.566 8.566 0 0 0 303.882 59.639 A 13.42 13.42 0 0 0 303.7 61.9 A 10.274 10.274 0 0 0 304.011 64.55 Q 304.92 67.945 308.483 68.563 A 10.062 10.062 0 0 0 310.2 68.7 Q 313.6 68.7 316.45 67 Q 319.3 65.3 321.05 62.35 Q 322.8 59.4 322.8 55.8 Z M 80.173 14.416 A 7.398 7.398 0 0 0 82.6 14.8 A 8.701 8.701 0 0 0 83.286 14.773 A 6.63 6.63 0 0 0 87.3 13.1 A 7.023 7.023 0 0 0 87.53 12.885 A 5.252 5.252 0 0 0 89.2 9 A 8.209 8.209 0 0 0 89.131 7.923 A 6.042 6.042 0 0 0 87.6 4.55 A 5.221 5.221 0 0 0 85.581 3.159 A 5.827 5.827 0 0 0 83.5 2.8 Q 80.6 2.8 78.3 4.6 A 9.243 9.243 0 0 0 78.19 4.687 Q 77.473 5.266 76.991 5.897 A 4.519 4.519 0 0 0 76 8.7 A 6.957 6.957 0 0 0 76.004 8.942 A 5.65 5.65 0 0 0 77.9 13.05 A 6.412 6.412 0 0 0 80.173 14.416 Z" vector-effect="non-scaling-stroke"/>
            </g>
          </svg>
        </button>
      </form>
      <% if(!(locals.hideSearch && hideSearch)) { %>
        <div class="relative flex-1 p-2 flex items-center justify-center lg:absolute sm:inset-0 gap-2"> <!-- search main container -->
          <form action="/search" method="post" class="w-full lg:w-1/2 2xl:w-1/3">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="group/main transition-all focus-within:bg-pistachio focus-within:border-pistachio focus-within:drop-shadow-xl justify-between drop-shadow-lg hover:drop-shadow-xl border border-latte hover:border-pistachio bg-espresso hover:bg-pistachio items-center w-full flex rounded-full p-2"> <!-- background -->
                <input id="search" name="search" value="<%=locals.search ? search.term : ``%>" class="block transition-colors group-focus-within/main:placeholder-espresso group-focus-within/main:text-espresso group-focus-within/main:bg-pistachio focus:group-focus-within/main:placeholder-pistachio border-none focus:ring-0 w-full font-bold uppercase rounded-full py-0 pl-4 text-pistachio group-hover/main:text-espresso placeholder-latte group-hover/main:placeholder-espresso bg-espresso group-hover/main:bg-pistachio leading-tight focus:outline-none text-sm group-hover/main:focus:placeholder-opacity-0 focus:placeholder-opacity-0" type="text" placeholder="Search"> <!-- input1 -->
                <button name="submit" onclick="load();" value="search" id="search" type="submit" class="group/search p-1.5 bg-pistachio hover:bg-latte cursor-pointer mx-1.5 rounded-full transition-all active:scale-110">
                  <svg class="w-5 h-5 text-slate-800 group-hover/search:text-slate-800 transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <a href="/assistant">
            <button type="button" onclick="load();" class="flex hover:scale-105 active:scale-90 border border-latte hover:border-none transition-all flex-none items-center relative p-4 rounded-full text-latte bg-espresso hover:bg-pistachio hover:text-espresso hover:drop-shadow-xl text-sm font-bold uppercase">Create Recipe</button>
          </a>
        </div>
      <% } %>
      <div class="flex items-center">
        <a href="/news">
          <button onclick="load();" class="group hover:scale-105 active:scale-90 transition-all flex items-center relative p-2 m-2 text-latte hover:text-espresso bg-espresso hover:bg-pistachio hover:border-pistachio rounded-full hover:drop-shadow-xl">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14 3V3.28988C16.8915 4.15043 19 6.82898 19 10V17H20V19H4V17H5V10C5 6.82898 7.10851 4.15043 10 3.28988V3C10 1.89543 10.8954 1 12 1C13.1046 1 14 1.89543 14 3ZM7 17H17V10C17 7.23858 14.7614 5 12 5C9.23858 5 7 7.23858 7 10V17ZM14 21V20H10V21C10 22.1046 10.8954 23 12 23C13.1046 23 14 22.1046 14 21Z" fill="currentColor"/>
            </svg>
          </button>
        </a>
        <div class="hidden relative sm:inline-block items-center justify-center gap-2"> <!-- user menu container -->
          <button 
            id="menu-dropdown-button" 
            data-header-target="openUserMenu" 
            type="button" 
            class="group hover:scale-105 active:scale-90 transition-all flex items-center relative px-2 border drop-shadow-lg bg-espresso hover:bg-pistachio border-latte hover:border-pistachio rounded-full hover:drop-shadow-xl"
          >
            <div class="pl-1">
              <svg
                  id= "user-burger"
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  class="text-latte group-hover:text-espresso transition-all"
                  style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                  <g fill="none" fill-rule="nonzero">
                      <path d="m2 16h28"></path>
                      <path d="m2 24h28"></path>
                      <path d="m2 8h28"></path>
                  </g>
              </svg>
            </div>
            <p class="pl-2 pb-0.5 pointer-events-none font-bold leading-tight sm:text-lg block truncate text-latte group-hover:text-espresso transition-all"><%= locals.user ? user.userName : `` %></p>
            <% if (locals.user && user.role==3) {%>
              <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 text-latte items-center pl-1 group-hover:text-espresso transition-all"
              >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13 12.8293C14.1652 12.4175 15 11.3062 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.3062 9.83481 12.4175 11 12.8293V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V12.8293ZM11 10C11 10.5523 11.4477 11 12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10Z"
                fill="currentColor"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z"
                fill="currentColor"
              />
              </svg>
            <%} else if (locals.user && user.role > 1) {%>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-latte items-center pl-1 group-hover:text-espresso transition-all"
              >
                <path
                  d="M10.2426 16.3137L6 12.071L7.41421 10.6568L10.2426 13.4853L15.8995 7.8284L17.3137 9.24262L10.2426 16.3137Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z"
                  fill="currentColor"
                />
              </svg>
            <%}%>
            <div class="block w-8 aspect-square text-latte rounded-full border border-latte group-hover:border-espresso overflow-hidden transition-all ml-2 my-2">
              <img src="<%= user.avatar %>" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
            </div>
          </button>
          <div 
            class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-coffee rounded-md bg-espresso drop-shadow-lg hover:drop-shadow-xl border border-latte hover:border-none"
            id="menu-dropdown-items"
            role="menu" 
            aria-orientation="vertical" 
            aria-labelledby="menu-button" 
            tabindex="-1"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95"
          >
            <% if (locals.user && user.role == 3) { %>
              <div class="py-1" role="none">
                <a href="/admin/manageusers" onclick="load();" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-2">Admin Panel</a>
              </div>
            <% } if (locals.user && user.role > 1) { %>
              <div class="py-1" role="none">
                <a href="/bookmarks" onclick="load();" data-header-target="userAuthLink" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-0">Bookmarks</a>
                <a href="/recipebook" onclick="load();" data-header-target="userAuthLink" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-1">AI Recipe Book</a>
                <a href="/suggest" onclick="load();" data-header-target="userAuthLink" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-1">Suggest Ingredient</a>
                <button id="changeUsername" class="text-latte text-left w-full block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold">
                  Change Username
                </button>
              </div>
            <% } %>
            <div class="py-1" role="none">
              <a href="/uploadedRecipes" onclick="load();" data-header-target="userAuthLink" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-1">My Recipes</a>
              <a href="/logOut" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menu-item-2">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<form action="/changeUsername" method="post" id="changeUsernameModalBG" class="hidden relative z-10">
  <div class="fixed inset-0 bg-espresso bg-opacity-50 backdrop-blur-sm transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div id="changeUsernameModal" class="relative transform overflow-hidden rounded-lg bg-espresso text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg border border-latte">
        <div class="bg-espresso px-4 pt-5">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mx-2 sm:mt-0 sm:text-left w-full">
              <h3 class="text-2xl font-bold leading-6 text-latte">Change Username</h3>
              <div class="mt-2">
                <p class="text-coffee">Write below the new username</p>
              </div>

              <div class="transition-all w-full mt-8 group border scale-95 border-latte hover:border-pistachio focus-within:bg-pistachio focus-within:border-pistachio focus-within:drop-shadow-xl hover:bg-pistachio rounded-md px-4 py-2 focus-within:ring-0">
                <input value="<%= navbarText %>" name="newName" id="newName" type="text" required class="transition-colors block group-focus-within:placeholder-espresso group-focus-within:text-espresso group-focus-within:bg-pistachio focus:group-focus-within:placeholder-pistachio w-full font-bold border-none focus:outline-none py-2.5 text-pistachio group-hover:text-espresso bg-espresso group-hover:bg-pistachio placeholder-latte group-hover:placeholder-espresso focus:ring-0 leading-tight group-hover:focus:placeholder-opacity-0 focus:placeholder-opacity-0 placeholder:text-coffee sm:text-lg" placeholder="Gustavo..."></input>
              </div>

              <% if (locals.navbarError && !navbarError == "") { %>
              <div class="flex gap-1 mt-1.5 ml-4"> <!-- error -->
                <svg class="block transition-all w-7 h-7 text-red-500 group-hover:text-latte" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 22 18" fill="currentColor">
                  <path opacity="1.000000" stroke="none" d="M8.46457 14.1213C8.07404 14.5118 8.07404 15.145 8.46457 15.5355C8.85509 15.926 9.48825 15.926 9.87878 15.5355L15.5356 9.87862C15.9262 9.4881 15.9262 8.85493 15.5356 8.46441C15.1451 8.07388 14.5119 8.07388 14.1214 8.46441L8.46457 14.1213Z" style="fill-rule: evenodd;"></path>
                  <path opacity="1.000000" stroke="none" d="M6.34315 17.6569C9.46734 20.781 14.5327 20.781 17.6569 17.6569C20.781 14.5327 20.781 9.46734 17.6569 6.34315C14.5327 3.21895 9.46734 3.21895 6.34315 6.34315C3.21895 9.46734 3.21895 14.5327 6.34315 17.6569ZM16.2426 16.2426C13.8995 18.5858 10.1005 18.5858 7.75736 16.2426C5.41421 13.8995 5.41421 10.1005 7.75736 7.75736C10.1005 5.41421 13.8995 5.41421 16.2426 7.75736C18.5858 10.1005 18.5858 13.8995 16.2426 16.2426Z" style="fill-rule: evenodd;"></path>
                </svg>
                <h1 class="text-red-500 text-lg"> <%= navbarError %>
                </h1>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="bg-espresso px-4 py-4 gap-2 sm:flex sm:flex-row-reverse sm:px-6">
          <button id="change" name="submit" value="change" type="submit" class="w-full rounded-md border-none transition-all scale-95 hover:scale-100 bg-coffee mt-3 py-4 px-6 text-base font-bold text-latte drop-shadow-lg hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:text-lg focus:outline-none focus:ring-0 sm:w-auto active:scale-90">Change 
          </button>
          <button id="cancel" value="cancel" type="button" class="w-full rounded-md border-none transition-all scale-95 hover:scale-100 bg-coffee mt-3 py-4 px-6 text-base font-bold text-latte drop-shadow-lg hover:drop-shadow-xl hover:bg-red-500 hover:text-latte hover:text-lg focus:outline-none focus:ring-0 sm:w-auto active:scale-90">Cancel 
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="iconBoxBG" class="hidden relative z-10">
  <div class="fixed inset-0 bg-espresso bg-opacity-50 backdrop-blur-sm transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div id="iconBox" class="relative transform overflow-hidden rounded-lg bg-espresso text-left shadow-xl transition-all border border-latte">
        <div class="bg-espresso w-32 h-32 p-6 flex items-end justify-between">
          <div class="rounded-full transition-all bg-latte h-4 w-4 animate-load1">
          </div>
          <div class="rounded-full transition-all bg-latte h-4 w-4 animate-load2">
          </div>
          <div class="rounded-full transition-all bg-latte h-4 w-4 animate-load3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const button = document.querySelector('#menu-dropdown-button');
  const box = document.querySelector('#menu-dropdown-items');
  const loadScreen = document.querySelector('#iconBoxBG');
  button.addEventListener('click', () => 
  {
    if (box.classList.contains('hidden')) 
    {
      box.classList.remove('hidden');
    } 
    else 
    {
      box.classList.add('hidden');
    }
  });
  document.addEventListener('click', (event) => {
    if (!box.contains(event.target) && !button.contains(event.target)) 
    {
      box.classList.add('hidden');
    }
  });

  const changeUsername = document.querySelector('#changeUsername');
  const cancel = document.querySelector('#cancel');
  const modalbg = document.querySelector('#changeUsernameModalBG');
  const modal = document.querySelector('#changeUsernameModal');
  window.onload = function() {
    if ("<%=navbarError%>" != "") popUp();
  };
  cancel.addEventListener('click', popUp);
  changeUsername.addEventListener('click', popUp);
  function popUp() {
    box.classList.add('hidden');
    if (modalbg.classList.contains('hidden')) 
    {
      modalbg.classList.remove('hidden');
    } 
    else 
    {
      modalbg.classList.add('hidden');
      document.getElementById('newName').value = "";
    }
  };
  function load() {
    loadScreen.classList.remove('hidden');
  };
  document.addEventListener('click', (event) => {
    if (!modal.contains(event.target) && !changeUsername.contains(event.target)) 
    {
      modalbg.classList.add('hidden');
      document.getElementById('newName').value = "";
    }
  });

  //search on enter
  var input = document.getElementById("myInput");
  input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault(); //Cancel the default action, if needed
    var button = document.getElementById("search");
    if(button.value)
      button.click();
  }
  }); 
</script>