<div class="flex flex-1 justify-center">
  <div class="flex flex-1 lg:max-w-4xl xl:max-w-6xl py-4">
    <div class="flex flex-col flex-1 justify-center"> <!-- Vertical Slice -->
      <div class="flex-none w-full h-20">
        <div class="w-full h-full flex justify-center items-center">
          <div class="group flex bg-espresso rounded-full drop-shadow-lg">
            <button class="text-espresso text-lg font-bold pr-10 pl-8 py-2 bg-coffee transition-all rounded-l-full border border-coffee hover:bg-pistachio hover:pr-12 hover:pl-14 hover:text-espresso hover:border-none hover:drop-shadow-xl cursor-default">
              AI Recipe
            </button>
            <a href="/recipeupload">
              <button class="text-latte text-lg font-bold pl-10 pr-8 py-2 bg-espresso rounded-r-full transition-all border border-latte hover:bg-pistachio hover:pr-12 hover:pl-14 hover:text-espresso hover:border-none hover:drop-shadow-xl active:scale-90">
                Custom Recipe
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="bg-coffee flex flex-col flex-1 p-6 font-normal text-lg w-full m-2 rounded-md">
          <p class="text-black text-3xl text-bold">
            Recipe Name
          </p>
          <p class="pt-8 text-2xl">
            Ingredients:
          </p>
          <form action="/assistant" method="POST" class="flex flex-col">
            <% var index =0; %>
            <% for (const ing of ingredients) { %>
              <div class="pt-2 flex">
                <input type="number" name="<%=`amount`+index%>" value="<%=ing.amount%>" step="0.01" class="px-4 py-3 w-28 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
                <select name="<%=`unit`+index%>" class="bg-espresso flex mx-2 px-4 w-36 rounded-md justify-between font-bold text-latte py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90 border border-latte hover:border-pistachio">Ounces
                  <%for (const unit of units) {%>
                    <%if (ing.unit==unit) { %>
                      <option selected value="<%=unit%>" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold"><%= unit %></option>
                    <%} else { %>
                      <option value="<%=unit%>" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold"><%= unit %></option>
                    <% } %>
                  <% } %>
                </select>
                <input type="text" name="<%=`name`+index%>" value="<%=ing.name%>" class="px-4 py-3 w-full font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
                <button value="<%=`remove&`+index%>" type="submit" name="submit" class="bg-espresso mx-2 px-4 w-32 rounded-md font-bold text-latte py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90 border border-latte hover:border-pistachio">Remove
                </button>
              </div> <!-- ingredient object -->
              <% var index=index+1; %>
            <% } %>
            <!-- duplicate the new ingredient object here -->
            <div class="pt-2 flex">
              <button value="addmore" type="submit" name="submit" class="bg-espresso w-32 rounded-md font-bold text-latte py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90 border border-latte hover:border-pistachio">Add More
              </button>
            </div>
          </form>
          <p class="pt-8 text-2xl">
            Extra Ingredients:
          </p>
          <div class="pt-2 flex">
            <textarea readonly class="block px-4 py-3 w-full h-48 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            </textarea>
          </div>
          <p class="pt-8 text-2xl">
            Instructions:
          </p>
          <div class="pt-2 flex">
            <textarea readonly class="block px-4 py-3 w-full h-96 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            </textarea>
          </div>
        </div>
        <div class="flex justify-end px-2 pt-2 pb-12">
          <button class="hidden bg-espresso mx-2 px-4 rounded-full font-bold text-latte uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90">Try Again
          </button>
          <button class="hidden bg-espresso mx-2 px-4 rounded-full font-bold text-latte uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90">Share Recipe
          </button>
          <button class="bg-espresso mx-2 px-4 rounded-full font-bold text-latte uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90">Generate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>