<div class="flex flex-1 justify-center">
  <div class="flex flex-1 lg:max-w-4xl xl:max-w-6xl py-4">
    <div class="flex flex-col flex-1 justify-center"> <!-- Vertical Slice -->
      <div class="flex-none w-full h-20">
        <div class="w-full h-full flex justify-center items-center">
          <div class="group flex bg-espresso rounded-full drop-shadow-lg">
            <button class="text-espresso text-lg font-bold pr-10 pl-8 py-2 bg-coffee transition-all rounded-l-full border border-coffee hover:bg-pistachio hover:pr-12 hover:pl-14 hover:text-espresso hover:border-none hover:drop-shadow-xl cursor-default">
              AI Recipe
            </button>
            <a href="/createRecipe">
              <button class="text-latte text-lg font-bold pl-10 pr-8 py-2 bg-espresso rounded-r-full transition-all border border-latte hover:bg-pistachio hover:pr-12 hover:pl-14 hover:text-espresso hover:border-none hover:drop-shadow-xl active:scale-90">
                Custom Recipe
              </button>
            </a>
          </div>
        </div>
      </div>
      <%if (user.role > 1 && alert != "") { %>
        <div class="flex-none w-full h-20 mb-4">
          <div class="bg-coffee flex flex-col flex-1 p-6 font-bold text-latte text-center text-2xl w-full m-2 rounded-md">
            <%=alert%>
          </div>
        </div>
      <%}%>
      <form action="/assistant" method="POST" id="form" class="flex flex-1 flex-col">
        <div class="bg-coffee flex flex-col flex-1 p-6 font-normal text-lg w-full m-2 rounded-md">
          <p class="text-latte text-3xl font-bold">
            <%=recipe.recipeName%>
          </p>
          <%if (recipeTrue) { %>
            <div class="flex px-6 pt-4">
              <div class="group block mx-2 w-full aspect-square cursor-pointer text-latte border border-latte overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
                <%if(recipe.recipeImages && recipe.recipeImages.img1) {%>
                  <img src="<%= recipe.recipeImages.img1 %>" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
                <%}%>
                <label class="w-full h-full"> <!-- hide when there is picture -->
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-full h-full cursor-pointer p-28"
                  >
                    <path
                      d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                      fill="currentColor"
                    />
                  </svg>
                  <input name="image1" type='file' oninput="forceSubmit(true,1);" class="hidden w-full" />
                </label>
                <span class="sr-only">View details</span>
              </div>
              <div class="group block mx-2 w-full aspect-square cursor-pointer text-latte border border-latte overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
                <%if(recipe.recipeImages && recipe.recipeImages.img2) {%>
                  <img src="<%= recipe.recipeImages.img2 %>" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
                <%}%>
                <label class="w-full h-full"> <!-- hide when there is picture -->
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-full h-full cursor-pointer p-28"
                  >
                    <path
                      d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                      fill="currentColor"
                    />
                  </svg>
                  <input name="image2" type='file' oninput="forceSubmit(true,2);" class="hidden w-full" />
                </label>
                <span class="sr-only">View details</span>
              </div>
              <div onclick="clear(3)" class="group block mx-2 w-full aspect-square cursor-pointer text-latte border border-latte overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
                <%if(recipe.recipeImages && recipe.recipeImages.img3) {%>
                  <img src="<%= recipe.recipeImages.img3 %>" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
                <%}%>
                <label class="w-full h-full"> <!-- hide when there is picture -->
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-full h-full cursor-pointer p-28"
                  >
                    <path
                      d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                      fill="currentColor"
                    />
                  </svg>
                  <input name="image3" type='file' oninput="forceSubmit(true,3);" class="hidden w-full" />
                </label>
                <span class="sr-only">View details</span>
              </div>
            </div>
          <%}%>
          <p class="pt-8 text-2xl text-latte">
            Ingredients:
          </p>
          <div class="flex flex-col">
            <p class="text-red-700 font-bold"><%= errorIngred %></p>
            <% var index =0; %>
            <% for (const ing of recipe.ingredients) { %>
              <div class="pt-2 flex">
                <input min="0.01" type="number" name="amount" value="<%=ing.amount%>" step="0.01" class="px-4 py-3 w-28 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
                <select name="unit" class="bg-espresso flex mx-2 px-4 w-36 rounded-md justify-between font-bold text-latte py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90 border border-latte hover:border-pistachio">Ounces
                  <%for (const unit of units) {%>
                    <%if (ing.unit==unit) { %>
                      <option selected value="<%=unit%>" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold"><%= unit %></option>
                    <%} else { %>
                      <option value="<%=unit%>" class="text-latte block px-4 py-2 text-sm transition-all hover:bg-pistachio hover:drop-shadow-lg hover:text-espresso hover:text-lg hover:font-bold"><%= unit %></option>
                    <% } %>
                  <% } %>
                </select>
                <input required placeholder="Ingredient" type="text" name="name" value="<%=ing.name%>" class="px-4 py-3 w-full font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
                <button value="<%=`remove&`+index%>" onclick="forceSubmit();" type="submit" name="submit" class="bg-espresso mx-2 px-4 w-32 rounded-md font-bold text-latte py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90 border border-latte hover:border-pistachio">Remove
                </button>
              </div> <!-- ingredient object -->
              <% var index=index+1; %>
            <% } %>
            <!-- duplicate the new ingredient object here -->
            <div class="pt-2 flex">
              <button value="addmore" onclick="forceSubmit();" type="submit" name="submit" class="bg-espresso w-32 rounded-md font-bold text-latte py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90 border border-latte hover:border-pistachio">Add More
              </button>
            </div>
          </div>
          <p class="pt-8 text-2xl text-latte">
            Extra Ingredients:
          </p>
          <div class="pt-2 flex">
            <textarea readonly name="extra" class="block px-4 py-3 w-full h-48 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm"><%=recipe.extra%></textarea>
          </div>
          <p class="pt-8 text-2xl text-latte">
            Instructions:
          </p>
          <div class="pt-2 flex">
            <textarea readonly name="instructions" class="block px-4 py-3 w-full h-96 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm"><%=recipe.instructions%></textarea>
          </div>
          <p class="pt-8 text-2xl pb-2 text-latte">
            Allergies:
          </p>
          <input readonly value="<%= allergies %>" class="block px-4 py-3 w-full h-16 font-bold transition-all rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
          </input>
          <p class="pt-8 text-2xl text-latte">
            Nutritions:
          </p>
          <div class="grid grid-cols-6 pt-4 gap-4 items-center">
            <p class="text-latte">Energy (kcal):</p>
            <input readonly type="text" value="<%= nutritions.energy %>" class="px-4 py-3 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p class="text-latte">Fatty acids (kg):</p>
            <input readonly type="text" value="<%= nutritions.fattyAcids %>" class="px-4 py-3 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p class="text-latte">Sodium (kg):</p>
            <input readonly type="text" value="<%= nutritions.sodium %>" class="px-4 py-3 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p class="text-latte">Sugar (kg):</p>
            <input readonly type="text" value="<%= nutritions.sugar %>" class="px-4 py-3 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
            <p class="text-latte">Protein (kg):</p>
            <input readonly type="text" value="<%= nutritions.protein %>" class="px-4 py-3 font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm">
          </div>
        </div>
        <div class="flex justify-end px-2 pt-2 pb-12">
          <%if (recipeTrue) { %>
          <button value="publish" type="submit" name="submit" class="bg-espresso mx-2 px-4 rounded-full font-bold text-latte uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90">Publish
          </button>
          <% } %>
          <button value="generate" type="submit" name="submit" onclick="Generate()" class="bg-espresso flex mx-2 px-4 rounded-full font-bold text-latte uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-pistachio hover:text-espresso hover:scale-105 active:scale-90">Generate
            <div id="loading" class="hidden h-6 w-6 pl-2">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="animate-spin"
              >
                <path
                  opacity="0.2"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                  fill="currentColor"
                />
                <path
                  d="M2 12C2 6.47715 6.47715 2 12 2V5C8.13401 5 5 8.13401 5 12H2Z"
                  fill="currentColor"
                />
              </svg>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", loadScroll);

  function loadScroll(event) {
    var scrollpos = localStorage.getItem("scrollpos");
    if (scrollpos) window.scrollTo(0, scrollpos);
  }
  //save scroll position on click
  function rememberScroll(){ 
    window.onbeforeunload = (e) => 
      localStorage.setItem("scrollpos", window.scrollY);
  }
  //default - no scroll memory
  window.onbeforeunload = (e) => 
    localStorage.removeItem("scrollpos");

  function Generate() {
    window.onbeforeunload = (e) => 
      document.getElementById("loading").classList.remove("hidden");};

//allows to addmore&remove without validation   
function forceSubmit(submit, index){
    rememberScroll();
    var form = document.getElementById("form")
    form.setAttribute("novalidate",true);
    if(submit){
      form.setAttribute("action","/uploadImage"+(index||""));
      form.setAttribute("enctype","multipart/form-data");
      form.dispatchEvent(new Event('submit'));
    }
  }
</script>