<div onload="changeColor()" class="flex flex-1 justify-center">
  <div class="flex flex-1 lg:max-w-4xl xl:max-w-6xl py-4">
    <div class="flex flex-col flex-1 justify-center"> <!-- Vertical Slice -->
      <div class="flex flex-1 flex-col gap-4">
        <% if (locals.user && user.role==3) {%>
          <form action="/news" method="POST">
            <div id="background" class="bg-coffee flex flex-col p-6 font-normal text-lg w-full m-2 rounded-md gap-2">
              <div class="flex items-center gap-2">
                <input required name="title" value="" placeholder="Title..." type="text" class="px-4 h-12 w-full font-bold transition-all rounded-md text-latte placeholder-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm placeholder:text-coffee">
                <button id="add" onclick="load();" type="submit" name="submit" value="<%=`add&`+index%>" class="bg-latte py-2.5 px-6 font-bold text-espresso rounded-md transition-all hover:bg-pistachio hover:scale-110 active:scale-90 hover:drop-shadow-xl">Post
                </button>
              </div>
              <textarea required name="description" placeholder="Some News..." class="block px-4 py-3 w-full h-56 font-bold transition-all break-normal rounded-md placeholder-latte text-latte bg-espresso border border-latte hover:border-pistachio hover:text-pistachio hover:placeholder-pistachio focus:border-pistachio focus:text-pistachio focus:placeholder-pistachio focus:ring-0 outline-none focus:outline-none text-sm placeholder:text-coffee"></textarea>
            </div>
          </form>
        <% } %>
        <!-- Multiply this news template, newest on top -->
        <form action="/news" method="POST" >
          <% 
            var index = 0;
            for (const news of allNews) 
          { %>
            <div id="background" class="bg-coffee flex flex-col p-6 font-normal text-lg w-full mx-2 my-4 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <div class="block w-16 mr-2 mb-2 aspect-square text-latte rounded-full border border-latte group-hover:border-espresso overflow-hidden transition-all">
                    <img src="<%= news.user.avatar %>" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
                  </div>
                  <p name="userName" class="pointer-events-none font-bold leading-tight sm:text-lg block truncate text-pistachio"><%= news.user.userName %></p>
                  <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-pistachio items-center pl-1 group-hover:text-espresso transition-all"
                  >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13 12.8293C14.1652 12.4175 15 11.3062 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.3062 9.83481 12.4175 11 12.8293V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V12.8293ZM11 10C11 10.5523 11.4477 11 12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10Z"
                    fill="currentColor"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z"
                    fill="currentColor"
                  />
                  </svg>
                </div>
                <% if (locals.user && user.role==3) {%>
                  <button id="delete" onclick="rememberScroll()" type="submit" name="submit" value="<%=`delete&`+index%>" class="bg-latte py-2.5 px-6 font-bold text-espresso rounded-md transition-all hover:bg-red-500 hover:text-latte hover:scale-110 active:scale-90 hover:drop-shadow-xl">Remove
                  </button>
                <% } %>
              </div>
            
              <div class="flex">
                <p name="title" class="text-3xl font-bold text-latte pb-4"><%= news.title %></p>
              </div>
              <div name="description" class="whitespace-pre-line border border-latte rounded-md bg-espresso font-bold text-latte px-4 pb-6">
                <%= news.description %>
              </div>
              <div class="flex justify-end items-center pt-4 gap-4">
                <div class="flex justify-between items-center gap-2 text-latte font-bold">
                  <svg class="block h-6 w-6" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="currentColor">
                        <path d="M3500 4733 c-71 -35 -139 -103 -176 -178 -25 -53 -29 -73 -33 -167 -2 -76 -7 -108 -15 -108 -17 0 -59 -47 -89 -100 -22 -38 -34 -82 -64 -225 -2 -11 -12 -92 -23 -180 -35 -295 -55 -363 -132 -450 -67 -76 -145 -112 -288 -134 -89 -14 -144 -32 -224 -72 -155 -79 -330 -221 -508 -415 -108 -117 -165 -170 -228 -210 -42 -27 -51 -29 -140 -27 -56 0 -111 7 -135 16 l-40 15 -5 129 c-6 146 -17 174 -78 200 -31 13 -111 14 -640 6 l-604 -8 -29 -33 -29 -32 0 -1155 c0 -1253 -3 -1192 55 -1245 l27 -25 609 1 610 2 39 40 40 40 0 127 0 127 113 -6 c61 -4 171 -11 242 -16 110 -9 479 -33 828 -55 49 -3 190 -13 315 -21 125 -8 283 -19 352 -23 69 -5 157 -15 195 -24 137 -29 217 -37 383 -37 165 1 224 9 318 43 91 33 228 150 309 264 56 76 128 227 150 313 18 67 27 89 115 275 28 61 77 171 107 245 30 74 60 149 67 165 29 67 57 146 96 270 23 72 48 148 55 170 53 153 69 398 36 520 -46 163 -202 485 -394 810 -119 203 -225 374 -359 580 -54 83 -94 151 -108 183 -14 32 -315 331 -370 368 -75 50 -122 64 -213 64 -68 -1 -91 -5 -137 -27z m165 -225 c31 -14 31 -19 0 -48 -26 -25 -62 -110 -73 -173 -4 -21 -11 -39 -16 -38 -16 0 -36 74 -36 131 0 62 15 91 64 121 37 22 29 22 61 7z m262 -235 c50 -28 87 -84 118 -180 15 -48 31 -92 35 -98 4 -5 24 -64 44 -130 20 -66 40 -133 46 -150 9 -30 51 -178 75 -270 31 -115 51 -202 95 -405 69 -324 100 -978 66 -1414 -9 -116 -20 -247 -26 -291 -5 -44 -12 -102 -15 -128 -7 -73 -61 -191 -126 -277 -63 -84 -100 -116 -181 -158 -53 -27 -54 -27 -253 -26 -168 1 -215 5 -290 23 -83 20 -194 31 -450 45 -217 12 -443 26 -500 30 -33 3 -102 8 -152 11 -302 19 -400 26 -503 34 -150 13 -238 19 -387 27 l-123 7 0 660 c0 624 1 659 18 651 9 -4 76 -9 149 -12 117 -3 138 -1 195 18 105 38 165 85 348 272 197 202 320 307 430 365 76 41 93 46 259 83 218 47 364 160 457 350 45 93 80 267 104 515 9 99 28 188 46 216 4 7 13 4 24 -6 62 -56 127 -315 136 -549 8 -176 -22 -364 -76 -481 -5 -11 -14 -33 -20 -49 -26 -72 -190 -313 -304 -448 -74 -86 -176 -257 -176 -293 0 -6 -9 -20 -20 -30 -11 -10 -20 -22 -20 -26 0 -4 -54 -98 -120 -209 -114 -190 -120 -203 -120 -254 0 -47 4 -58 31 -85 27 -27 37 -31 86 -31 50 0 59 3 87 33 17 19 60 83 95 143 35 60 65 111 67 112 1 2 38 -9 81 -24 204 -71 468 -28 609 99 82 75 136 202 178 425 9 46 18 87 21 91 2 5 9 55 14 112 10 106 2 336 -19 509 -5 47 -15 128 -20 180 -6 52 -20 154 -30 225 -19 130 -29 212 -55 465 -15 143 -19 322 -8 333 12 12 48 7 80 -10z m671 -1063 c194 -363 258 -523 255 -630 -5 -129 -68 -370 -152 -580 l-30 -75 -1 165 c-1 167 -22 558 -40 727 -10 101 -41 289 -65 398 -8 38 -15 72 -15 74 0 9 8 -6 48 -79z m-884 -708 c-9 -42 -22 -108 -30 -146 -47 -237 -103 -289 -309 -290 -78 0 -165 16 -165 30 0 35 107 205 193 306 95 112 216 290 270 398 l52 104 3 -163 c2 -121 -2 -182 -14 -239z m-2554 -109 c-1 -115 0 -568 2 -1008 l3 -800 -451 -3 -452 -2 -4 1002 c-3 552 -3 1006 -1 1011 2 4 206 7 454 7 l449 0 0 -207z"/>
                      </g>
                    </svg>
                    <%= news.appreciatedCount %> People appreciated this
                </div>
                <% if (!news.appreciatedUsers.includes(user.id)) {%>
                <button id="appreciate" onclick="rememberScroll()" type="submit" name="submit" value="<%=`appreciate&`+index%>" class="flex gap-2 items-center bg-latte py-2.5 px-6 font-bold text-espresso rounded-md transition-all hover:bg-pistachio hover:text-espresso hover:scale-110 active:scale-90 hover:drop-shadow-xl">Appreciate
                  <svg class="block h-8 w-8" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="currentColor">
                      <path d="M3500 4733 c-71 -35 -139 -103 -176 -178 -25 -53 -29 -73 -33 -167 -2 -76 -7 -108 -15 -108 -17 0 -59 -47 -89 -100 -22 -38 -34 -82 -64 -225 -2 -11 -12 -92 -23 -180 -35 -295 -55 -363 -132 -450 -67 -76 -145 -112 -288 -134 -89 -14 -144 -32 -224 -72 -155 -79 -330 -221 -508 -415 -108 -117 -165 -170 -228 -210 -42 -27 -51 -29 -140 -27 -56 0 -111 7 -135 16 l-40 15 -5 129 c-6 146 -17 174 -78 200 -31 13 -111 14 -640 6 l-604 -8 -29 -33 -29 -32 0 -1155 c0 -1253 -3 -1192 55 -1245 l27 -25 609 1 610 2 39 40 40 40 0 127 0 127 113 -6 c61 -4 171 -11 242 -16 110 -9 479 -33 828 -55 49 -3 190 -13 315 -21 125 -8 283 -19 352 -23 69 -5 157 -15 195 -24 137 -29 217 -37 383 -37 165 1 224 9 318 43 91 33 228 150 309 264 56 76 128 227 150 313 18 67 27 89 115 275 28 61 77 171 107 245 30 74 60 149 67 165 29 67 57 146 96 270 23 72 48 148 55 170 53 153 69 398 36 520 -46 163 -202 485 -394 810 -119 203 -225 374 -359 580 -54 83 -94 151 -108 183 -14 32 -315 331 -370 368 -75 50 -122 64 -213 64 -68 -1 -91 -5 -137 -27z m165 -225 c31 -14 31 -19 0 -48 -26 -25 -62 -110 -73 -173 -4 -21 -11 -39 -16 -38 -16 0 -36 74 -36 131 0 62 15 91 64 121 37 22 29 22 61 7z m262 -235 c50 -28 87 -84 118 -180 15 -48 31 -92 35 -98 4 -5 24 -64 44 -130 20 -66 40 -133 46 -150 9 -30 51 -178 75 -270 31 -115 51 -202 95 -405 69 -324 100 -978 66 -1414 -9 -116 -20 -247 -26 -291 -5 -44 -12 -102 -15 -128 -7 -73 -61 -191 -126 -277 -63 -84 -100 -116 -181 -158 -53 -27 -54 -27 -253 -26 -168 1 -215 5 -290 23 -83 20 -194 31 -450 45 -217 12 -443 26 -500 30 -33 3 -102 8 -152 11 -302 19 -400 26 -503 34 -150 13 -238 19 -387 27 l-123 7 0 660 c0 624 1 659 18 651 9 -4 76 -9 149 -12 117 -3 138 -1 195 18 105 38 165 85 348 272 197 202 320 307 430 365 76 41 93 46 259 83 218 47 364 160 457 350 45 93 80 267 104 515 9 99 28 188 46 216 4 7 13 4 24 -6 62 -56 127 -315 136 -549 8 -176 -22 -364 -76 -481 -5 -11 -14 -33 -20 -49 -26 -72 -190 -313 -304 -448 -74 -86 -176 -257 -176 -293 0 -6 -9 -20 -20 -30 -11 -10 -20 -22 -20 -26 0 -4 -54 -98 -120 -209 -114 -190 -120 -203 -120 -254 0 -47 4 -58 31 -85 27 -27 37 -31 86 -31 50 0 59 3 87 33 17 19 60 83 95 143 35 60 65 111 67 112 1 2 38 -9 81 -24 204 -71 468 -28 609 99 82 75 136 202 178 425 9 46 18 87 21 91 2 5 9 55 14 112 10 106 2 336 -19 509 -5 47 -15 128 -20 180 -6 52 -20 154 -30 225 -19 130 -29 212 -55 465 -15 143 -19 322 -8 333 12 12 48 7 80 -10z m671 -1063 c194 -363 258 -523 255 -630 -5 -129 -68 -370 -152 -580 l-30 -75 -1 165 c-1 167 -22 558 -40 727 -10 101 -41 289 -65 398 -8 38 -15 72 -15 74 0 9 8 -6 48 -79z m-884 -708 c-9 -42 -22 -108 -30 -146 -47 -237 -103 -289 -309 -290 -78 0 -165 16 -165 30 0 35 107 205 193 306 95 112 216 290 270 398 l52 104 3 -163 c2 -121 -2 -182 -14 -239z m-2554 -109 c-1 -115 0 -568 2 -1008 l3 -800 -451 -3 -452 -2 -4 1002 c-3 552 -3 1006 -1 1011 2 4 206 7 454 7 l449 0 0 -207z"/>
                    </g>
                  </svg>
                </button>
                <% } %>
              </div>
            </div>
          <% 
              index++;
          } %>
        </form>
        <!-- End of news template -->
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", loadScroll);
  function loadScroll(event) {
    var scrollpos = localStorage.getItem("scrollpos");
    if (scrollpos) window.scrollTo(0, scrollpos);
  }
  //save scroll position on click
  function rememberScroll(){ 
    window.onbeforeunload = (e) => 
      localStorage.setItem("scrollpos", window.scrollY);
    load();  
  }
  //default - no scroll memory
  window.onbeforeunload = (e) => 
    localStorage.removeItem("scrollpos");
</script>